<app-navigation></app-navigation>

<section class="container mt-5 pt-5" *ngIf="book">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">{{book.Items.Item.ItemAttributes.Title}}</h1>
      <h3 class="text-center text-muted">By {{book.Items.Item.ItemAttributes.Author}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pb-4 pb-md-0">
      <img class="img-fluid rounded img-thumbnail mw-100" src="{{book.Items.Item.LargeImage.URL}}" alt="Book">
    </div>
    <div class="col-md-8">
      <app-share [book]="book.Items.Item"></app-share>
      <table class="table table-responsive">
        <thead>
        <tr>
          <th scope="col" colspan="2" class="text-center">Book Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Publisher</th>
          <td>{{book.Items.Item.ItemAttributes.Publisher}}</td>

        </tr>
        <tr>
          <th scope="row">Date Published</th>
          <td>{{book.Items.Item.ItemAttributes.PublicationDate}}</td>
        </tr>
        <tr>
          <th scope="row">ISBN-13</th>
          <td>{{book.Items.Item.ItemAttributes.EAN}}</td>
        </tr>
        <tr>
          <th scope="row">ISBN-10</th>
          <td>{{book.Items.Item.ItemAttributes.ISBN}}</td>
        </tr>

        <tr>
          <th scope="row">Pages</th>
          <td>{{book.Items.Item.ItemAttributes.NumberOfPages}}</td>
        </tr>
        <tr>
          <th scope="row">Editorial Review</th>
          <td><span [innerHTML]="book.Items.Item.EditorialReviews.EditorialReview.Content"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
