<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Get Virtual Books</a>
    <div class="mx-2 col">
      <div class="form-row">
        <div class="col">
          <div class="input-group">
            <input type="text" [(ngModel)]="searchquary" class="form-control" placeholder="Search Books" aria-label="Search Books">
            <span class="input-group-btn">
                 <a class="btn btn-info" [routerLink]="['/search']" [queryParams]="{ q: searchquary }">Search!</a>
                </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-inline ml-auto">
      <button class="btn btn-outline-secondary" type="button">My Account</button>
    </div>
  </div>
</nav>
